#search-page {
    background: #F1F1F1;
}

#search-page .content {
    height: 95%;
    overflow-y: scroll;
}

#search-page .image-container img {
    display: block;
    max-width: 45%;
    margin: 0 auto;
}

#search-page .image-info {
    margin: 0 auto;
}

#found-images {
    margin-bottom: 30px;
}

/* Chip styles */
#search-page .image-tags {
    text-align: center;
}

#search-page .default-chip {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px; 
    font-family: 'Raleway', sans-serif;
    color: #5E5D5D;
    font-weight: bold;
}

#search-page .user-name {
    font-family: 'Raleway', sans-serif;
    color: #5E5D5D;
}

#search-page .user-name:hover,
#search-page .user-photo:hover {
    cursor: pointer;
}

#search-page .share {
    position: relative;
    margin-left: auto;
    right: 10px;
}

/* Default class */
#search-page .share .share-fb {
    position: absolute;
    width: 23px;
    top: 0;
    right: 0;
    visibility: hidden;
    transition: all .1s linear;
}

/* Class for visibility */
#search-page .share .show-share-fb {
    visibility: visible;
    right: 30px;
}

#search-page .share:hover {
    cursor: pointer;
}

#search-page .likes-num {
    color: #5E5D5D;
    font-weight: bold;
}

/* Scrollbar */
#search-page .content::-webkit-scrollbar {
    width: 10px;
}

#search-page .content::-webkit-scrollbar-track {
    width: 20px;
}

#search-page .content::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;
    border-radius: 10px;
}